[user]
  name = Ryan Jacobson
	email = rejacobson@gmail.com
[alias]
  co = checkout
  st = status
  br = branch
  todo = grep --heading --break --ignore-case -e ' FIX: *' -e ' TODO: *'
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  tags = tag --sort version:refname
[apply]
  whitespace = nowarn
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = green
  changed = red
  untracked = cyan
[push]
  default = simple
[core]
  excludesfile = ~/.gitignore
